name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # これがないとリリースを作成できない
    steps:
      # チェックアウト
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Changelog を正しく動作させるために必要

      # Go をセットアップ
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      # リリース
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # 自動で生成されるシークレット
          WINGET_GITHUB_TOKEN: ${{ secrets.WINGET_GITHUB_TOKEN }} # Winget 用のシークレット
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }} # Homebrew Taps 用のシークレット